body, html {
	background-color: lightgrey;
	height: 100%;
}

.header {
	background: url("https://static1.squarespace.com/static/580e9b469de4bb7cf16e586b/t/581a68da8419c21ac8e45b0d/1478125787704/pso_BoxingBackground1.jpg?format=1500w") no-repeat center top;
	background-size: cover;
	height: 40%;
	display: block;
	width: 2000px;
}

h1, h2 {
	color: black;
	background-color: #e6e6ff;
	opacity: 0.5;
	text-align: center;
}

.content {
	max-width: 600px;
	margin: auto;
	background-color: lightgrey;
	overflow: hidden;
}

.container {
	background-color: firebrick;
}



.main-img {
	height: 400px;
	max-width: auto;
}
